<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8930DC132A1D79CE00410A3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89A6D87A2A13E1210079AF2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89A6D8812A13E1210079AF2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89AFD90B2A13DEAA0055B2CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
